@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;600;800&display=swap');

body{
	font-family: 'Raleway', sans-serif;
}
.registration{
    display: flex;
    align-items: center;
    height: 100vh;
}
.design{
    padding: 1px 30px;
    border-radius: 15px;
    background: #010101;
    box-shadow: inset 0px 0px 18px #ff0000, inset 0px 0px 18px #ff0000;
    color: #fff;
}
.top-contents{
    text-align: center;
}
.top-contents h2{
    font-size: 30px;
    padding-top: 15px;
}
.top-contents p{
    font-size: 20px;
}
.top-contents a{
	text-decoration: none;
	display: block;
	color: white;
	cursor: pointer;
	margin: 5px auto;
	padding: 10px;
	width: 180px;
	font-weight: 500;
	border: none;
}
.gmail{
    background: red;
}
.gmail:hover{
    color: #fff;
    border: none;
    border-radius: 5px;
    background: #ff0000;
    box-shadow: inset -16px -16px 50px #c70000,
            inset 16px 16px 50px #ff0000;
}
.facebook{
    background: #305eff;
}
.facebook:hover{
    border: none;
    color: #fff;
    border-radius: 5px;
    background: #24a0ff;
    box-shadow: inset -16px -16px 50px #1c7dc7,
            inset 16px 16px 50px #2cc3ff;
}
.top-contents b{
    display: block;
    margin: 30px 0;
}
.form-input{}
form{}
input{
	background-color: #000!important;
	border: 1px solid white!important;
	color: #fff!important;
}
input[type="submit"]{
    background: #009dff!important;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    border: none!important;
    border-radius: 5px;
}
input:focus{
	outline: none!important;
	box-shadow: none!important;
}
input[type="submit"]:hover{
    color: #fff;
    border: none!important;
    border-radius: 5px;
    background: #009dff;
    box-shadow: inset 9px 9px 18px #0076bf,
            inset -9px -9px 18px #00c4ff;
}
.login{}
.login p{
	text-align: center;
	color: #fff;
}
.login p a{
	color: #fff;
	font-weight: 600;
	text-decoration: auto;
	text-decoration-line: underline;
}